.modalWindowLogInWrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Muli-ExtraLight";
  color: white;
}

.modalWindowLogIn {
  width: 50%;
  height: 65%;
  background: url("../../assets/login-1.png") round;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalWindowLogInContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 100%;
}

.modalWindowLogInText {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "Muli-ExtraLight";
}

.modalWindowLogInInput {
  color: white;
  padding: 5px;
  background: #ffffff21;
  border: none;
  margin: 1px;
  width: 85%;
  height: 11%;
  font-family: "Muli-ExtraLight";
}

.modalWindowLogInInput:focus {
  outline: none !important;
  border: 0.5px solid #f0f0f0;
}

.modalWindowLogInSignUp {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: underline;
  color: #009688ba;
  font-size: 13px;
}

.modalWindowLogInButtonsWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 85%;
  height: 15%;
}

.modalWindowLogInButton {
  cursor: pointer;
  font-family: "Muli-Light";
  border: none;
  width: 25%;
  height: 50%;
  color: white;
  border-radius: 3px;
  background: #009688ba;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalWindowLogInCloseButton {
  cursor: pointer;
  font-size: 13px;
  margin: 10px;
  background: #1a1a1c00;
  border: none;
  color: #b8b8b8;
  font-family: "Muli-ExtraLight";
}

.modalWindowForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalWindowError {
  color: red;
  font-size: 13px;
}
