@font-face {
  font-family: "Muli-Light";
  src: url("../../assets/Muli-Light.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/Muli-Light.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Muli-ExtraLight";
  src: url("../../assets/Muli-ExtraLight.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/Muli-ExtraLight.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "August";
  src: url("../../assets/August.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/August.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Muli-ExtraBold";
  src: url("../../assets/Muli-ExtraBold.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/Muli-ExtraBold.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.profilePage {
  background: url("../../assets/profile.jpg") round;
  /* background-image: url(/static/media/profile.011b0472.jpg); */
  height: 100%;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  color: white;
  font-family: "Muli-ExtraLight";
  overflow-y: auto;
}

.profileHeader {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profileHomeButton {
  color: white;
  font-family: "Muli-ExtraLight";
}

.addPostButton {
  text-align: center;
  margin-top: 5%;
}

.main-hr {
  width: 30%;
  border: none;
  border-top: 1px solid #c3c3c3;
}
.icon-btn {
  font-size: 11px;
  font-family: "Muli-Light";
  color: white;
  width: 35px;
  height: 35px;
  border: none;
  background: #009688ba;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}
.add-btn:hover {
  width: 120px;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 1px;
  width: 8px;
  top: calc(50% - 1px);
  background: white;
}
.add-btn::after {
  right: 17px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 17px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 17px;
  width: 1px;
  top: calc(50% - 9px);
  background: white;
  overflow: hidden;
}
.add-icon::before {
  left: 17px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 17px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.profileFeedWrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.profileFeed {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImg {
  content: url("../../assets/addProfileImg.png");
  width: 108px;
  height: 108px;
  border-radius: 200px;
}

.profileUserName {
  font-family: "Muli-ExtraBold";
  font-size: 31px;
}

.profilePosts {
  padding: 45px;
  width: 100%;
  height: auto;
  background: #00000080;
  margin-top: 50px;
  border-radius: 8px;
}

.userPost {
  margin-bottom: 20px;
}

.userPostTitle {
  font-family: "Muli-ExtraBold";
  font-size: 20px;
}

.userPostBottomWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
}

.userPostBottomSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userPostCreatedAt {
  margin-right: 10px;
}

#profileUpload {
  display: none;
}
