@font-face {
  font-family: "August";
  src: url("../../assets/August.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/August.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Muli-ExtraBold";
  src: url("../../assets/Muli-ExtraBold.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/Muli-ExtraBold.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Muli-Light";
  src: url("../../assets/Muli-Light.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/Muli-Light.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Muli-ExtraLight";
  src: url("../../assets/Muli-ExtraLight.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/Muli-ExtraLight.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  background: #f0f0f0;
}

div.homeHeader {
  height: 100%;
  margin-top: 15px;
  padding: 0;
  display: flex;
  color: white;
  font-family: "Muli-Light";
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

.homeHeaderElement {
  color: #444444;
  padding-left: 30px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 5px;
}

.homeHeaderElement:hover {
  color: #5d5c5c;
  transition: all 0.2s ease-out;
}

.homeHeaderElementLogin {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 5px;
  border: solid #444444;

  background: #f0f8ff00;
  color: #444444;
  padding: 9px 42px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 5px;
}

.homeHeaderWrapper {
  filter: drop-shadow(0px 4px 2px grey);
  margin: 0;
  padding: 0 20px;
  height: 100%;
  background-repeat: no-repeat;
  overflow-y: auto;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  background-image: url("../../assets/back.jpg");
  font-family: "Montserrat", cursive;
}

.homePageImageWrapper {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444444;
}

.homePageImageTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homePageImageTitle {
  margin: 0;
  padding: 0;
  font-size: 100px;
  font-weight: 600;
}

.homePageImageText {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.profileButtonImg {
  width: 20px;
  height: 20px;
}

.homeHeaderProfileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2.postTitle {
  margin: 0;
  font-family: "Cormorant Garamond";
  font-size: 35px;
}

.postsWrapper {
  width: 100%;
  padding: 35px;
  column-count: 3;
  column-gap: 1em;
}

.post {
  font-size: 15px;
  background: #ffffffe6;
  font-family: "Muli-Light";
  margin: 1.5%;
  padding: 43px 43px 33px 43px;
  height: auto;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  /* filter: drop-shadow(-2px 2px 2px grey); */
  display: inline-block;
  width: 100%;
}

.postInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.postAuthorInfo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.postStatsInfo {
  display: flex;
  align-items: center;
}

.postImage {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.showMoreButton {
  margin: 10px;
  padding: 13px;
  text-align: center;
  text-transform: uppercase;
}

.showMoreButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#HomePage {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 420px) {
  .postsWrapper {
    column-count: 1;
  }
}
