@font-face {
  font-family: "August";
  src: url("../../assets/August.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/August.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Muli-ExtraBold";
  src: url("../../assets/Muli-ExtraBold.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/Muli-ExtraBold.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Muli-Light";
  src: url("../../assets/Muli-Light.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/Muli-Light.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Muli-ExtraLight";
  src: url("../../assets/Muli-ExtraLight.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/Muli-ExtraLight.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  background: #f0f0f0;
}

div.homeHeader {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  color: white;
  font-family: "Muli-Light";
  list-style: none;
  justify-content: space-between;
}

.homeHeaderElement {
  display: flex;
  align-items: center;
  margin: 5px;
  border: none;
  font-family: "Muli-ExtraLight";
  background: #f0f8ff00;
  color: white;
  padding: 0;
}

header.homeHeader {
  filter: drop-shadow(0px 4px 2px grey);
  margin: 0;
  padding: 0 20px;
  height: 50px;
  width: 100%;
  background: #000000 url("../../assets/background.jpg") 91% 94%;
}

.profileButtonImg {
  width: 20px;
  height: 20px;
}

.homeHeaderProfileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2.postTitle {
  margin: 0;
  font-family: "Muli-ExtraBold";
  font-size: 24px;
}

.postsWrapper {
  width: 100%;
  padding: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.post {
  font-size: 15px;
  background: white;
  font-family: "Muli-Light";
  margin: 0.5%;
  padding: 15px;
  width: 28%;
  height: auto;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  filter: drop-shadow(-2px 2px 2px grey);
}

.postImage {
  width: 100%;
  height: 30%;
}

.showMoreButton {
  font-family: "Muli-Light";
  border: none;
  margin: 10px;
  padding: 13px;
  width: 15%;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
    box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #232526 0%,
    #414345 51%,
    #232526 100%
  );
}

.showMoreButton:hover {
  background-position: right center;
}

.showMoreButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#HomePage {
  width: 100%;
  height: 100%;
}
