@font-face {
  font-family: "August";
  src: url("../../assets/August.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/August.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Muli-ExtraBold";
  src: url("../../assets/Muli-ExtraBold.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/Muli-ExtraBold.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Muli-Light";
  src: url("../../assets/Muli-Light.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/Muli-Light.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Muli-ExtraLight";
  src: url("../../assets/Muli-ExtraLight.ttf") format("ttf"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../../assets/Muli-ExtraLight.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.addPostPage {
  color: white;
  width: 100%;
  height: 100%;
  background: url("../../assets/add_post.jpg");
  background-repeat: round;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addPostWrapper {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addPostTitle {
  padding-left: 5px;
  font-size: 24px;
  color: #f0f0f0;
  font-family: "Muli-ExtraBold";
  width: 100%;
  height: 7%;
  margin-bottom: 10px;
  background: #c2c2c224;
  border: none;
}

.addPostTitle:focus {
  outline: none !important;
  border: 0.5px solid #f0f0f0;
}

.postBody {
  padding-left: 5px;
  color: #f0f0f0;
  font-family: "Muli-Light";
  width: 100%;
  height: 40%;
  background: #c2c2c224;
  border: none;
}

.postBody:focus {
  outline: none !important;
  border: 0.5px solid #f0f0f0;
  /* filter: drop-shadow(-2px 2px 2px black); */
}

.addPostButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.addPostPublishButton {
  height: 70%;
  font-family: "Muli-Light";
  border: none;
  /* padding: 8px; */
  width: 15%;
  /* text-align: center; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 3px;
  background-image: linear-gradient(
    to right,
    #a770ef 0%,
    #cf8bf3 51%,
    #a770ef 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.addPostCancelButton {
  font-size: 13px;
  margin: 10px;
  background: #1a1a1c00;
  border: none;
  color: #d0d0d05e;
  font-family: "Muli-ExtraLight";
}

/* .form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__field::placeholder {
  color: transparent;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
} */
